# Kotlin/Java/Android specific
*.iml
.gradle/
.idea/
build/
.DS_Store
*.apk
*.ap_
local.properties
.env
.cxx/
*.hprof

# macOS specific

# Windows specific
Thumbs.db
ehthumbs.db

# Kotlin Multiplatform
/build/
/bin/
/out/
/cinterop/
*.kts.lock

# Node.js (if using JS target)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# iOS/macOS
/ios/Pods/
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcuserstate
